*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form{
  border: 1px solid red;
}

.list{
  border: 1px solid blue;
}


.container{
  padding: 1rem .5rem;
  display : flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.card{
  width: 24%;
}

.form{
  
  display: flex;
  justify-content: end;
  margin-right: 10rem;
  margin-top: 2rem;

}

.form input{
 padding: 1rem;
  border-radius: 0.5rem;
}


.box{
  width: 100px;
  height: 100px;
  border: 1px solid red;
  transition: ease-in-out 0.3s;
}

.turn {
  transform : rotate(360deg);
}